*{
 padding: 0;
 margin: 0;
}

:root{
    --var-blue: #009ce2;
    --var-white: white;
    --var-gray: #E2EAF4;
    --var-orange: #d39728;
}

.container{
    display: grid;
    grid-template-columns: 20% repeat(3, 1fr) ;
    grid-template-rows: 125px 1fr 1fr;
    background-color: var(--var-gray);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.sidepanel{
    grid-row: 1 / 4;
    background-color: var(--var-blue);
    color: var(--var-white);
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 200px 100px;
    padding-left: 15px;
    gap: 15px;
}

.sidepanel{
    color: var(--var-white);
    font-weight: bolder;
}


.mainlinks,
.settingspanel{
    display: grid;
}

.logo,
.mainlinks>a,
.settingspanel>a{
    display: grid;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--var-white);
}

a>img{
    justify-self: right;
}

a>p{
    justify-self: left;
}

.logo>h2{
    justify-self: left;
    align-self: center;
}
.logo>img{
    justify-self: right;
    align-self: center;
}

.header{
    grid-column: 2 / 5;
    background-color: var(--var-white);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 70%;
    padding: 10px 20px;
}

#searchpanelForm{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

#searchpanelForm>button{
    background-color: var(--var-blue);
    border-style: none;
    border-radius: 15px;
    height: 30px;
    width: 30px;
}
#searchpanelForm>input{
    background-color: var(--var-gray);
    border-radius: 15px;
    border: none;
    height: 30px;
    flex:1;
    text-align: right;
}

.userSettings{
    display: grid;
    grid-template-columns: 45px 145px;
    justify-content: right;
    align-items: center;
    gap: 15px;
}

.userProfile{
    display: grid;
    grid-template-columns: 25px 100px;
    justify-content: right;
    align-items: center;
    font-weight: bold;
}

.userProfile>img{
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    object-fit: cover;
    object-position: 0% 0%;
    border: 1px solid var(--var-gray);
}

.userWelcome{
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 30px 30px;
    text-align: left;
    align-self: end;
    font-weight: bold;
    font-size: small;
}

.userWelcome>.user{
    font-size: large;
}

.userWelcome>img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: 0% 0%;
    border: 1px solid var(--var-gray);
    grid-row: 1 / 3;
}
.actions{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.actions>button{
    background-color: var(--var-blue);
    color: var(--var-white);
    border-radius: 15px;
    width: 90px;
    height: 30px;
    border: none;
    justify-self: center;
    align-self: center;
}

.projects{
    grid-area: 2 / 2 / span 2 / span 2;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-template-rows: 1em 250px;
    margin: 10px 15px;
}

.projects>h2{
    grid-area: 1 / 1 / 2 / span 2;
    text-align: left;
}

.project{
    background-color: var(--var-white);
    border-left: 3px solid var(--var-orange);
    text-align: left;
    padding: 5px;
}

.announcements{
    margin-top: 10px;
}

.trending{
    display: grid;
    grid-template-rows: 2em repeat(4,1fr);
    margin-bottom: 10px;
    text-align: left;
}

.announce, 
.trend{
    background-color: var(--var-white);
    text-align: left;
    padding: 5px 20px;
    border-bottom: 1px solid var(--var-gray);
    margin-right: 15px;
}

.announce:first-of-type{
    padding-top:20px;
}
.announce:last-of-type{
    padding-bottom: 20px;
}

h2{
    text-align: left;
    height: 1.4em;
}

.trend{
    display: grid;
    grid-template-columns: 35px 1fr;
    grid-template-rows: 17.5px 17.5px;
    column-gap: 15px;
    align-items: center;
}

.trend>img{
    height: 35px;
    width: 35px;
    border-radius: 17.5px;
    object-fit: cover;
    object-position: 0% 0%;
    border: 1px solid var(--var-gray);
    grid-row: 1 / 3;
}

.tag{
    font-weight: bold;
}

.role{
    font-size: smaller;

}