*{
 padding: 0;
 margin: 0;
}

:root{
    --var-blue: #009ce2;
    --var-white: white;
    --var-gray: #E2EAF4;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    background-color: var(--var-gray);
}

.sidepanel{
    grid-row: 1 / 4;
    background-color: var(--var-blue);
}

.header{
    grid-column: 2 / 5;
    background-color: var(--var-white);
}

.projects{
    grid-area: 2 / 2 / span 2 / span 2;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.userWelcome>img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    object-position: 0% 0%;
    border: 1px solid var(--var-gray);
}

.actions>button{
    background-color: var(--var-blue);
    color: var(--var-white);
    border-radius: 15px;
    width: 90px;
    height: 30px;
    border: none;
}